p{
    color:rgb(196, 196, 255)
}
h1{
    color:rgb(171, 171, 255)
}
a{
    color:rgb(196, 196, 255)
}
h1{
    font-family: Arial
}
p{
    font-family: Arial
}
a{
    font-family: Arial
}